<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<header>
    <div class="logo">
        <svg width="250" height="100"
            xmlns="http://www.w3.org/2000/svg">       
            <image href="../img/logo.png" height="100" width="250"/>
        </svg>
    </div>
    <div class="header-buttons">
        <button>Sign In</button>
        <button>Sign Up</button>
    </div>
</header>
<body>
    <div class="container"> 
        <div class="login-conatiner">
        <form>
            <h1 class="text"> Sign In </h1>
            <input name="email" type="text" placeholder="Enter email or username">
            <input name="password" type="text" placeholder="Enter password">
            <button>Sign In</button>
            <h2 class="text">Need an account?</h2>
            <button>Sign Up</button>
        </form>
        </div>
    </div>
</body>