*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 60px;
    display: block;
    background-color: white;
}
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
    padding-left: 10%;
}
.logo_container h1{
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 1000;
}
.logo_container h1 span{
    font-weight: 100;
}
.header_buttons{
    float: right;
    height: 100%;
}
.header_buttons button{
    height: 100%;
    width: 10em;
    display: table;
    float: right;
    padding: 0px 20px;
    color: white;
    background: #B20011 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff;
    border-radius: 45px;
}
main{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #202020 0%, #290000 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main h1{
    text-align: center;
    color: #FF0000;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 75vh;
    width: 75vw;
    background: transparent linear-gradient(180deg, #290000 0%, #202020 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    mix-blend-mode: unset;
    border: 1px solid #000000;
    border-radius: 38px;
    padding: 0;
    color: white;
}
.form input{
    background: #000000 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 45px;
    opacity: 1;
    margin: 1em;
    height: 5em;
    width: 20em;
    font: normal normal normal Segoe UI;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
}
.form button{
    color: white;
    background: #B20011 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 45px;
    width: 12em;
    height: 5em;
    color: white;
    margin: 1em;
}
.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
}
nav{
    background: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
nav button{
    color: white;
    background: #B20011 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 45px;
    width: 80%;
    height: 5em;
    color: white;
    margin: 1em;
}
.search-bar input{
    text-align: center;
    font: normal normal normal 32px/45px Segoe UI;
    letter-spacing: 0px;
    color: #7A7A7A;
    size: 0.5em;
}
.nav_buttons{
    margin: 1em;
    padding: 1em;
}

.section_title{
    text-align: left;
    font: italic normal 900 65px/86px Segoe UI;
    letter-spacing: 0px;
    color: #D00014;
    opacity: 0.45;
    padding-top: 10vh;
    padding-left: 5vh;
}
.explore_games{
    width: 75%;
    color: #FFFFFF;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    padding-top: 20px;
    padding-left: 5vh;
}
.explore_games img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 25vh;
    width: 25vw;
}
.explore_games div{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    color: #000000;
    height: auto;
    width: auto;
}
.game h4{
    color: #B20011;
    display: inline;
    justify-content: space-between;
}
.game_photo{
    height: 25vh;
    width: 25vw;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}
.player{
    background: #3a3a3a 0% 0% no-repeat padding-box;
    color: #ffffff;
    height: auto;
    width: auto;
    margin: auto;
}
.player_photo{
    width: 120px;
    height: 120px;
    background: transparent 0% 0% no-repeat padding-box;
    border: 1px solid #B20011;
}
.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}